@model Product
<div>
    <p>
        @Model.Name isimli ürünü islmek istiyor musunuz?
        <form method="post" asp-controller="Home" asp-action="Delete">
            <input type="hidden" asp-for="@Model.ProductId" />
            <button class="btn btn-primary" type="submit">Evet</button>
            <a href="/" class="btn btn-danger">Hayır</a>
        </form>
    </p>
</div>